@import '../../styles/variables.scss';

.mainContainer {
	// Make text unselectable
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	.bar {
		background-color: $tertiary;
		color: $nineth;
		text-indent: 24px;
		height: 42px;
		box-shadow: inset 0px -10px 5px -10px rgba(0, 0, 0, 0.3);
	}
	.arrow {
		margin-right: 30px;
	}
	.arrow__unfolded {
		margin-right: 5px;
		transform: rotate(180deg);
	}

	.textContainer {
		margin: 25px;
	}
	.description {
		&--fold {
			height: 0px;
		}

		&--unfold {
			overflow: scroll;
		}

		&--shadow {
			box-shadow: 0 5px 5px -5px $shadow025;
		}
	}
}
