@import '../../styles/variables.scss';

.mainContainer {
	// Make text unselectable
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	.folded {
		.bar {
			background-color: $tertiary;
			color: $nineth;
			text-indent: 24px;
			height: 42px;
		}
		.arrow {
			margin-right: 30px;
		}
		.description__containerFolded {
			// height: 100px;
			background-color: red;
		}
		@keyframes dropUp {
			from {
			}
			to {
				height: 0px;
			}
		}
	}

	.unfolded {
		.bar {
			background-color: $tertiary;
			color: $nineth;
			text-indent: 24px;
			height: 42px;
		}
		.unfolded__arrow {
			margin-right: 5px;
			transform: rotate(180deg);
		}

		.description__container {
			overflow: hidden;
			line-height: 1.35;

			margin-top: 25px;

			animation-name: dropDown;
			animation-timing-function: ease;
			animation-duration: 0.3s;
		}
		@keyframes dropDown {
			from {
				height: 0px;
			}
			to {
			}
		}

		&--shadow {
			box-shadow: 0 2px 12px -2px $shadow025;
		}
	}
}
