
@import '../../styles/variables';


$btnradius: #2E4F77;
$btnradius2: #CED4DA;
$textTitle:#15212D;
.input1{
 
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    height: 40px;
}

.nameInput{
color: $textTitle;
font-family: Red Hat Text;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

    
}
.btnCheck1{
 border-radius: 20px 0px 0px 20px;
 background-color: $btnradius;
 color:$btnradius2;
 height:34px;
 
}
.btnCheck2{
background-color: $btnradius2;
border-radius: 0px;
color:$btnradius;
height:34px;


}
.btnCheck3{
background-color: $btnradius;
border-radius: 0px 20px 20px 0px;
color: $btnradius2;
height:34px;


}

