@import '../../styles/variables';


.inputs {
	background: $nineth;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	height: 40px;
	border: none;
	text-indent: 4%;
	border-radius: 15px;
	outline: none;
  }
	
.nameInput {
	color: $sixth;
	font-size: 100%;
	font-style: normal;
	font-weight: bold;
	line-height: 24px;
	text-align: left;
	font-style: normal;
}

.conteinerPass {
	font-size: 75%;
	font-family: $font-1;
	color:$sixth;
}
.TC {
	font-size: 65%;
}
.TC2 {
	font-size: 65%;
	color: $fourth;
}
.base-img2 {
	width: 5rem;
	height: 5rem;
	border-radius: 1000px;

	&--small {
		width: 3.85rem;
		height: 3.85rem;
		border-radius: 1000px;
	}
}
