@import '../../styles/variables';

.customBtn {
	width: 100%;
	height: 2.1rem;
	background-color: $tertiary;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;

	font-size: 14px;
	color: $nineth;
	margin-bottom: 3px;

	border: none;

	&--empty {
		background-color: $nineth;

		border: 2px solid $tertiary;
		height: 40px;
		border-radius: 15px;
		color: $tertiary;
		font-size: 1rem;
	}
}
// Elimina hover de Bootstrap
.customBtn--empty:hover {
	background-color: $nineth;
	color: $tertiary;
	border: 2px solid $tertiary;
}
