@import '../../styles/variables';


.boxcontainer {
  height: 10px;
  // border: 1px solid white;
  border-radius: 20px;
  box-shadow: $shadow310;
}

.colored {
  background: linear-gradient(90deg, #2E4F77 45.81%, rgba(0, 0, 0, 0) 100%);
  background-color: white;
  height: 10px;
}