@import '../../styles/variables.scss';

.input-icon-container {
	background: $eleventh;
	border: none;
	border-radius: 15px;
	text-indent: 2%;
	-webkit-text-fill-color: $nineth;
	height: 40px;
	text-indent: 20px;
	

	.input-container {
		text-indent: 10px;
	}

	.icon-container {
		

		position: absolute;

		right: 15px;

		
	}
}