@import '../../styles/variables';

.customBtnPagination {
	background-color: $tertiary;
	color: $nineth;

	width: 44px;
	height: 40px;

	border: 1px solid $thirteenth;
	border-radius: 10px;

	padding: 12px 14px 12px 14px;
}
.customBtnPagination:hover {
	background-color: $tertiary;
	border: 1px solid $thirteenth;
}
.right {
	transform: scaleX(1);
}
.left {
	transform: scaleX(-1);
}
