// Color Variables
$primary: #293d55;
$secondary: #ab8d74;
$tertiary: #2e4f77;
$fourth: #c59980;
$fifth: #eedfbf;
$sixth: #15212d;
$seventh: #566574;
$eighth: #f8f5f0;
$nineth: #ffffff;
$tenth: #15212d;

// Font Familys
