@import '../../../styles/variables.scss';

.upperColor{
   background-color: rgba(0, 255, 221, 0.1);
}
.middleColor{
   background-color: rgba(136, 255, 0, 0.1);
}
.bottomColor{
   background-color: rgba(255, 0, 0, 0.1);
}