@import '../../styles/variables.scss';

.exercise__container {
	width: 100vw;
	height: 100vh;

	.title__container {
		.title__container--text {
			margin-left: 20px;
		}

		.totalTime {
			margin-right: 20px;
		}
	}

	.gifContainer {
		background-color: black;

		height: 175px;
	}

	.dropDownContainer {
		margin-top: 18px;
	}

	// .chronometerContainer {
	// }

	.btnNext {
		position: absolute;
		bottom: 4%;
		right: 8%;

		.btnNext__text {
			margin-right: 8px;

			// Make text unselectable
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
	}
}
