@import '../../styles/variables.scss';

.exercise__container {
	width: 100vw;
	height: 100vh;

	.title__container {
		.title__container--text {
			margin-left: 20px;
		}

		.totalTime {
			margin-right: 20px;
		}
	}

	.gifContainer {
		background-color: black;

		height: 175px;
	}

	.dropDownContainer {
		margin-top: 18px;
	}

	.chronometerContainer {
	}
}
