.App {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	/* overflow: hidden; */
}

.card-body{
	padding:0;
}
.accordion-button:not(.collapsed)::after {

   background-size: 15px ;

}
.accordion-button::after {


   background-size: 15px ;
   	

}

.container-fluid {
	padding: 0;
	margin: 0;
	width: 100%;
	overflow: scroll;
}
